  <div class="banner">
    <div class="container">
      <h1>Glam Camp Hotel, l'hôtel nomade qui s'installe sur le lieu de votre choix</h1>
      <p>Offrez à vos invités une expérience d'hébergement unique lors de votre évènement, mariage ou séminaire.</p>
      <a class="btn-primary" href="#">Pré-réserver maintenant !</a>
    </div>
  </div>
