.card-booking {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 90px;
  right: 20px;
}

.row-details {
	margin-right: auto;
	margin-left: auto;
}

.banner-show {
  background-size: auto;
  background-position: center;
  padding: 150px 0;
}

.banner-show h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.container {
  padding-top: 70px;
}

.title-container {
  padding-top: 20px;
}

.carrousel-container {
  display: flex;
}

.comfort-level p {
  font-size: 13px;
}

.comfort-level .fa-campground {
 font-size: 12px;
}

#level-missing {
  opacity: 50%;
}

.carousel-img {
	height: 300px;
	object-fit: cover;
}

.card-details {
	padding: 20px 0px;
	width: 100%
}

#submit-dates {
  width: 310px;
}

.description-container i {
  opacity: 0.5;
}

.description-container p {
  opacity: 0.7;
}

.card-booking .fa-bolt {
 font-size: 13px;
 color: $green;
}

.card-booking p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 4px;
}

.total-price {
  font-size: 1rem !important;
  opacity: 0.9 !important;
  margin-bottom: 10px !important;
}
