<div class="footer">
  <div class="footer-title">
    <h4><strong>Please join us on our social media</strong></h4>
    
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>


