.btn {
  color: white;
  background-color: $green;
  padding: 6px;
  border-radius: 5px;
  width: 100%;
  font-weight: bolder;
  opacity: 0.9;
}

.btn-search {
  margin-bottom: 18px;
}

.btn:hover{
  opacity: 1;
  color: white;
}

