.total-price {
  display: none;
}
.datepicker.form-control.input {
  display: none;
}

.form-group.string.required.booking_start_date {
  display: none;
}

.form-group.string.required.booking_end_date {
  display: none;
}
