.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon .nav-link {
  color: white !important;
  opacity: 0.8 !important;
}

.navbar-lewagon .fa-campground {
  color: white;
  opacity: 0.9;
}

.navbar-lewagon-white {
  background-color: white;
  .nav-link {
    color: rgba(0, 0, 0, 0.5) !important;
  }
}

.navbar-lewagon-white .fa-campground {
  color: black;
  opacity: 0.9;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbarDropdown:hover {
  cursor: pointer;
  opacity: 0.7;
}

.nav-link.active-link {
  color: rgba(0, 0, 0, 0.8) !important;
  font-weight: bolder;
  margin-right: 8px;
}
